[submodule "scripts/orangefs/scs_io_common"]
	path = scripts/orangefs/scs_io_common
	url = git@github.com:scs-lab/scs_io_common.git
[submodule "scs_io_common"]
	path = scs_io_common
	url = git@github.com:scs-lab/scs_io_common.git
